{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<article class="mt-10">

  {# White Row #}
  <div class="py-10">
    {% if content.field_subtitle|render %}
    <h2 class="uppercase font-light text-center text-xl">{{ content.field_subtitle }}</h2>
    {% endif %}
    <h3 class="uppercase font-light text-center text-l">({{ content.field_duration }})</h3>
    <div class="m-auto pt-10 w-2/3">
      {{ content.body }}
    </div>
  </div>

  {# Blue Row #}
    <div class="bg-blue-pats text-white py-10">
      <h2 class="uppercase font-light text-center text-xl">Listen Now</h2>
      <div class="w-flex h-40 m-auto mb-5 pt-10 w-2/3">
        <iframe allow="autoplay"
                src="https://embed.acast.com/5d23d6cdd5ef084d07ef59b9/{{ mp3 }}"
                frameBorder="0"
                width="100%">
        </iframe>
      </div>
      <ul class="flex flex-wrap justify-evenly py-10">
        <li class="pt-4 w-56 gap-1"><a data-google-analytics-et-processed="true" href="https://itunes.apple.com/us/podcast/id1497577531?mt=2" id="pod-apple-button"><img alt="Listen on Apple Podcasts" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/applepodcasts-badge.svg" width="300" /> </a></li>
        <li class="pt-4 w-56 gap-1"><a href="https://pca.st/pa8slg4f" id="pod-pocketcasts-button"><img alt="Listen on Pocket Casts" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/pocketcasts-badge.svg" width="300" /> </a></li>
        <li class="pt-4 w-56 gap-1"><a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5hY2FzdC5jb20vcHVibGljL3Nob3dzLzVkMjNkNmNkZDVlZjA4NGQwN2VmNTliOQ" id="pod-google-button"><img alt="Listen on Google Podcasts" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/googlepodcasts-badge.svg" width="300" /> </a></li>
        <li class="pt-4 w-56 gap-1"><a href="https://open.spotify.com/show/7pA5XFa7J0mmby0vTCosOu" id="pod-spotify-button"><img alt="Listen on Spotify" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/spotify-badge.svg" width="300" /> </a></li>
        <li class="pt-4 w-56 gap-1"><a href="https://www.stitcher.com/podcast/patriots-dynasty-podcast" id="pod-stitcher-button"><img alt="Listen on Stitcher" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/stitcher-badge.svg" width="300" /> </a></li>
        <li class="pt-4 w-56 gap-1"><a href="https://www.youtube.com/channel/UCyVCkL2azPXZZruRHgs9Kqw" id="pod-youtube-button"><img alt="Listen on Youtube" height="81" src="/themes/custom/dynasty_tw/icons/podcast-badges/youtube-badge.svg" width="300" /> </a></li>
      </ul>
    </div>

{# White Row #}
  {% if content.field_game|render %}
  <div class="py-10">
    <h2 class="uppercase font-light text-center text-xl">Game Info</h2>
      {{ content.field_game }}
  </div>
  {% endif %}

  {# Gray Row #}
  {% if content.field_transcription|render %}
    <div class="bg-gray-400 py-10">
      <h2 class="uppercase font-light text-center text-xl">Transcript</h2>
      <div class="m-auto pt-10 w-2/3">
        {{ content.field_transcription }}
      </div>
    </div>
  {% endif %}

  <div class="py-10">
    {{ content.field_total_downloads }}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script type="application/javascript">
      Highcharts.setOptions({
        colors: ['#053c65', '#c41334']
      });
      Highcharts.chart('container', {
        chart: {
          type: 'spline'
        },
        title: {
          text: 'Downloads per Month'
        },
        xAxis: {
          categories: [
            {% for year, month in downloads %}
              {% for data in month %}
                "{{ data.month_name }} {{ year }}",
              {% endfor %}
            {% endfor %}
          ],
          title: {
            text: 'Month'
          }
        },
        yAxis: {
          title: {
            text: 'Downloads'
          }
        },
        series: [{
          name: 'Downloads',
          data: [
            {% for year, month in downloads %}
              {% for data in month %}
               {{ data.dls }},
              {% endfor %}
            {% endfor %}
          ]
        }]
      });
    </script>

  </div>
</article>
