{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type": "SportsEvent",
    "name": "{{ schema_name }}",
    "competitor": [
      {
        "@type": "SportsTeam",
        "name": "New England Patriots"
      },
      {
        "@type": "SportsTeam",
        "name": "{{ schema_opp }}"
      }
    ],
    "startDate": "{{ schema_date }}",
    "location": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ schema_city }}",
        "addressRegion": "{{ schema_state }}"
      }
    }
  }
</script>
<article>
  {# Header #}
  <div class="hidden md:block text-center text-xl" style="min-height: 10em;">
    <div class="bg-blue-pats p-2 w-fill justify-evenly flex">
      {{ drupal_block('prev_game', {context_mapping: {node: '@node.node_route_context:node'}}) }}
      <h1 class="text-3xl uppercase font-thin text-white p-4">{{ label }}</h1>
      {{ drupal_block('next_game', {context_mapping: {node: '@node.node_route_context:node'}}) }}
    </div>
    {{ content.field_highlight_video_url }}
  </div>


{# Teams and Score Boxes #}
  <div class="flex items-center justify-center score-box">
    <div class="patriots p-2 w-1/3 md:w-1/4 shadow-gray-500 shadow-lg">
      <div class="text-2xl text-center hidden md:block">New England Patriots</div>
      <div class="text-2xl text-center block md:hidden">Patriots</div>
      <br>
      <div class="text-5xl text-center">{{ content.field_patriots_score }}</div>
    </div>
    <div class="w-1/6 text-4xl text-center">{{ vs }}</div>
    <div class="{{ team_css }} p-2 w-1/3 md:w-1/4 shadow-gray-500 shadow-lg">
      <div class="text-2xl text-center hidden md:block">{{ opp_name }}</div>
      <div class="text-2xl text-center block md:hidden">{{ opp_short }}</div>
      <br>
      <div class="text-5xl text-center">{{ content.field_opponent_score }}</div>
    </div>
  </div>
  {% if content.field_uniform|render or content.field_belichick_hoodie|render %}
{#  <div class="flex justify-evenly py-10">#}
{#    {{ content.field_uniform }}#}
{#    {{ content.field_belichick_hoodie }}#}
{#  </div>#}
  {% endif %}

  {# Previous/Next Game buttons #}
  <div class="block md:hidden text-center text-xl">
    {{ drupal_block('prev_next_game', {context_mapping: {node: '@node.node_route_context:node'}}) }}
  </div>

{# Game Date #}
  <div class="text-center py-10 text-xl">{{ content.field_date }}</div>



{# Box Score #}
  <a id="boxscore"></a>
  <div id="boxscore" class="flex items-center justify-around py-5">
      <table>
        <thead>
          <tr class="border-b border-black">
            <th class="p-4"></th>
            <th class="p-4">1</th>
            <th class="p-4">2</th>
            <th class="p-4">3</th>
            <th class="p-4">4</th>
            {% if ot != FALSE %}
              <th class="p-4">OT</th>
            {% endif %}
            <th class="p-4 pl-10">Final</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-4 pr-10 hidden md:table-cell">New England Patriots</td>
            <td class="p-4 pr-10 table-cell md:hidden">Patriots</td>
            <td class="p-4">{{ content.field_pats_q1 }}</td>
            <td class="p-4">{{ content.field_pats_q2 }}</td>
            <td class="p-4">{{ content.field_pats_q3 }}</td>
            <td class="p-4">{{ content.field_pats_q4 }}</td>
            {% if ot != FALSE %}
              <td class="p-4">{{ content.field_pats_ot }}</td>
            {% endif %}
            <td class="p-4 font-extrabold pl-10">{{ content.field_patriots_score }}</td>
          </tr>
          <tr>
            <td class="p-4 pr-10 hidden md:table-cell">{{ opp_name }}</td>
            <td class="p-4 pr-10 table-cell md:hidden">{{ opp_short }}</td>
            <td class="p-4">{{ content.field_opp_q1 }}</td>
            <td class="p-4">{{ content.field_opp_q2 }}</td>
            <td class="p-4">{{ content.field_opp_q3 }}</td>
            <td class="p-4">{{ content.field_opp_q4 }}</td>
            {% if ot != FALSE %}
              <td class="p-4">{{ content.field_opp_ot }}</td>
            {% endif %}
            <td class="p-4 font-extrabold pl-10">{{ content.field_opponent_score }}</td>
          </tr>
        </tbody>
      </table>

  </div>

{# PFR, Youtube Highlight, and GamePass links #}
  <a id="game-links"></a>
  <div id="game-links" class="flex items-center justify-evenly py-5">
    {% if content.field_pfr_link|render %}
      <a type="button" href="{{ content.field_pfr_link|render|trim }}" class="p-4 bg-green-900 text-white text-center">View game on PFR</a>
    {% endif %}

    {% if content.field_youtube_highlights|render %}
      <a type="button" href="{{ content.field_youtube_highlights[0]['#url'] }}" class="p-4 bg-red-600 text-white text-center">Youtube Highlights</a>
    {% endif %}

    {% if content.field_youtube_game_link|render %}
      <a type="button" href="{{ content.field_youtube_game_link|render|trim }}" class="bg-white border border-red-600 p-4 text-center text-red-600">Youtube Game Video</a>
    {% endif %}
  </div>

{# Brady Stats #}
  {% if content.field_brady_attempts|render %}
    <a id="brady-stats"></a>
    <div id="brady-stats" class="bg-gray-400 text-blue-pats py-5">
      {% if qbs is not empty %}
        {% set qbtitle = 'QB Passing Stats' %}
      {% else %}
        {% set qbtitle %}
          {{ content.field_starting_qb }} Passing Stats
        {% endset %}
      {% endif %}
      <h2 class="text-center mb-6 text-3xl uppercase font-light">{{ qbtitle }}</h2>
      <div class="flex justify-center">
        <table>
          <thead>
            <tr class="border-b border-blue-pats">
              {% if qbs is not empty %}
                <th class="p-4">QB</th>
              {% endif %}
              <th class="p-4">COM</th>
              <th class="p-4">ATT</th>
              <th class="p-4">YDS</th>
              <th class="p-4">TD</th>
              <th class="p-4">INT</th>
              <th class="p-4">QBR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% if qbs is not empty %}
                <td class="p-4">{{ content.field_starting_qb }}</td>
              {% endif %}
              <td class="p-4">{{ content.field_brady_completions }}</td>
              <td class="p-4">{{ content.field_brady_attempts }}</td>
              <td class="p-4">{{ content.field_brady_yards }}</td>
              <td class="p-4">{{ content.field_brady_tds }}</td>
              <td class="p-4">{{ content.field_brady_ints }}</td>
              <td class="p-4">{{ content.field_passer_rating }}</td>
            </tr>
            {% if qbs is not empty %}
              {% for name, qb in qbs %}
                <tr>
                  <td class="p-4"><a href="{{ qb.url }}">{{ name }}</a></td>
                  <td class="p-4">{{ qb.comp }}</td>
                  <td class="p-4">{{ qb.att }}</td>
                  <td class="p-4">{{ qb.yds }}</td>
                  <td class="p-4">{{ qb.tds }}</td>
                  <td class="p-4">{{ qb.ints }}</td>
                  <td class="p-4">{{ qb.qbr }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{# Podcast Episode #}
  {{ drupal_view('podcast_episode_game_page', 'block_1') }}
{# Game Summary #}
  {% if content.field_game_summary|render %}
  {{ attach_library('dynasty_tw/muse_modal') }}
  <a id="game-summary"></a>
  <div id="game-summary" class="py-5">
    <h2 class="text-center mb-6 text-3xl uppercase font-light">Game Summary</h2>
    <div class="m-auto w-2/3">
    {{ content.field_game_summary }}
    </div>
  </div>
  {% endif %}

{# Highlights #}
  <a id="highlights"></a>
  <div class="bg-gray-400 py-5">
    <h2 class="text-center mb-6 text-3xl uppercase font-light">Highlights</h2>
    <div class="flex flex-wrap justify-center">
      {{ drupal_view('game_highlights', 'block_1') }}
    </div>
  </div>

{# Game Video #}
{% if content.field_game_video|render %}
  <div id="game-summary" class="py-5">
    <h2 class="text-center mb-6 text-3xl uppercase font-light">Full Game Video</h2>
    <div id="full-video" class="w-1/2 m-auto">
      {{ content.field_game_video }}
    </div>
  </div>
{% endif %}

  {# Other Videos #}
  {% if content.field_other_media|render %}
    <div id="other-media" class="py-5">
      <h2 class="text-center mb-6 text-3xl uppercase font-light">Other Videos</h2>
      <div id="other-videos" class="w-1/2 m-auto">
        {{ content.field_other_media }}
      </div>
    </div>
  {% endif %}
</article>
