{% if variant %}
{% set attributes = (variant != 'default') ? attributes.addClass('alert-' ~ variant) : attributes %}
{% endif %}

<div {{ attributes.addClass('alert').setAttribute('role', 'alert') }}>
  {% if variant == 'success' %}
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
  {% elseif variant == 'info' %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
  {% elseif variant == 'warning' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
  {% elseif variant == 'error' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
  {% else %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
  {% endif %}
  {% if title %}
   <div>
    {% set heading_level = heading_level|default(3) %}
    <h{{ heading_level }} class="font-bold">{{ title }}</h{{ heading_level }}>
    {% if message %}<div class="text-xs">{{ message }}</div>{% endif %}
  </div>
  {{ buttons }}
  {% else %}
    {% if message %}<div>{{ message }}</div>{% endif %}
    {% if buttons %}<div>{{ buttons }}</div>{% endif %}
  {% endif %}
</div>
