{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}
    <div class="flex flex-col md:flex-row gap-4 w-full md:justify-evenly">
      {% if content.first %}
        <div {{ region_attributes.first.addClass(content.width.first, 'justify-items-center flex flex-col', content.valign) }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass(content.width.second, 'justify-items-center flex flex-col', content.valign) }}>
          {{ content.second }}
        </div>
      {% endif %}
    </div>
    {% if content.bottom %}
      <div {{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom') }}>
        {{ content.bottom }}
      </div>
    {% endif %}
  </div>
{% endif %}
