<article>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <style>
    canvas {
      width: 25%;
      float: left;
    }
  </style>
  <div>
    {{ content }}
    <canvas id="hidden-top-left" height="2048" width="1213"></canvas>
    <canvas id="hidden-top-right" height="2048" width="1213"></canvas>
    <canvas id="hidden-bottom-left" height="2048" width="1213"></canvas>
    <canvas id="hidden-bottom-right" height="2048" width="1213"></canvas>
  </div>

</article>
