{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

  <article class="tw-mt-10">

{# Intro Section #}
    <section class="tw-w-full tw-px-8 tw-py-16 xl:tw-px-8">
      <div class="tw-mx-auto tw-text-lg">
        <p class="tw-py-2">
          Throughout the history of the NFL there have been many dynasties, but none have been on the same level as
          the Patriots' dominance since Bill Belichick took over in 2000. Since September 3rd, 2000 the Patriots have
          an astounding win percentage against the rest of the league. In fact, no team in the NFL has a winning record
          against the Patriots in this span.
        </p>
        <p class="tw-py-2">
          Under the guidance of Coach Belichick and the command of Tom Brady, the Patriots defied the NFL system
          designed to prevent such dynasties from forming. Over 20 seasons the duo broke nearly every record in the
          league on the way to winning 6 Super Bowls.
        </p>
        <p class="tw-py-2">
          This website was created to document this historical run by the most dominant team in the history of football
          using statistics as well as storytelling to show just how special this team has been.
        </p>
      </div>
    </section>

{# Quick Search Section #}
    <section class="tw-w-full tw-px-8 tw-py-16 xl:tw-px-8">
      <div class="tw-max-w-5xl tw-mx-auto">
        <h2 class="tw-mb-6 tw-text-3xl tw-uppercase tw-font-light">Quick Search</h2>
        <div class="tw-flex tw-flex-col tw-items-center md:tw-flex-row">

          <div class="tw-mt-16 md:tw-mt-0 md:tw-w-1/2 md:tw-pr-16">
            <div class="tw-relative tw-z-10 tw-h-auto tw-p-8 tw-py-10 tw-overflow-hidden tw-bg-white tw-border-b-2 tw-border-gray-300 tw-shadow-2xl tw-px-7 tw-rounded-none tw-rounded-sm">

              <h3 class="tw-mb-6 tw-text-2xl tw-uppercase tw-font-light">Games</h3>

              <div class="tw-relative tw-flex tw-items-center tw-max-w-md tw-mx-auto tw-mt-12 tw-overflow-hidden tw-text-center tw-rounded-sm">
                {{ drupal_block('views_exposed_filter_block:game_search-page_1') }}
              </div>

              <div class="tw-relative tw-flex tw-items-center tw-max-w-md tw-mx-auto tw-mt-12 tw-overflow-hidden tw-text-center tw-rounded-sm">
                {{ drupal_block('season_select_block') }}
              </div>

            </div>
          </div>

          <div class="tw-mt-16 md:tw-mt-0 md:tw-w-1/2 md:tw-pr-16">
            <div class="tw-relative tw-z-10 tw-h-auto tw-p-8 tw-py-10 tw-overflow-hidden tw-bg-white tw-border-b-2 tw-border-gray-300 tw-shadow-2xl tw-px-7 tw-rounded-none tw-rounded-sm">

              <h3 class="tw-mb-6 tw-text-2xl tw-uppercase tw-font-light">Plays</h3>

              <div class="tw-relative tw-flex tw-items-center tw-max-w-md tw-mx-auto tw-mt-12 tw-overflow-hidden tw-text-center tw-rounded-sm">
                {{ drupal_block('views_exposed_filter_block:highlight_search-page_1') }}
              </div>

              <div class="tw-relative tw-flex tw-items-center tw-max-w-md tw-mx-auto tw-mt-12 tw-overflow-hidden tw-text-center tw-rounded-sm">
                {{ drupal_block('player_select_block') }}
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

{#  Record vs NFL Section  #}
    <section class="tw-w-full tw-px-8 tw-py-16 xl:tw-px-8 tw-bg-gray-400">
      <div class="tw-px-8 tw-pt-16 tw-text-lg tw-text-center">
        <h2 class="tw-mb-6 tw-text-3xl tw-uppercase tw-font-light">Record vs NFL</h2>
        <p>
          For 20 years, the Patriots managed to maintain an unprecedented level of
          success against the other 31 teams in the NFL. In fact, even in the face
          of free agency and record-based drafting meant to equalize the playing
          field, New England has managed to compile a winning record against all
          but 2 teams. And no opponent has a winning record vs the Pats in that
          timeframe.
        </p>
      </div>
      {{ drupal_block('record_vs_nfl') }}
    </section>

{# Podcast Section (blue) #}
    <section class="tw-w-full">
      <div class="tw-bg-blue-pats tw-text-white tw-px-8 tw-pt-16 tw-text-lg tw-text-center">
        We're rewatching every game of the dynasty era and recording a podcast
        talking about each one. View all the episodes in the <a href="/podcast">podcast section</a>, or
        listen to the latest episode below.
      </div>
          {{ drupal_block('latest_podcast_block') }}
    </section>

{# On This Day Section #}
    <section class="tw-w-full tw-py-16">
      <div class="tw-px-8 xl:tw-px-8">
        <div class="tw-max-w-5xl tw-mx-auto">
          {{ drupal_block('on_this_day_block') }}
        </div>
      </div>
    </section>
  </article>
