{% set flex = 'tw-flex' %}

{% if video|length == 2 %}
  {% set w = 'tw-w-1/2' %}
  {% set split = 'Half' %}
{% elseif video|length == 4 %}
  {% set w = 'tw-w-1/2' %}
  {% set split = 'Quarter' %}
{% else %}
  {% set w = '' %}
  {% set split = '' %}
  {% set flex = '' %}
{% endif %}

<div class="{{ flex }}">
{% for v in video %}
  {% if v.video_type == 'muse.ai' %}
    <div class="{{ w }}">
      <div id="video-container-{{ v.video_id }}" class="tw-m-auto"></div>
      {% if split is not empty %}
        <div>{{ split }} {{ loop.index }}</div>
      {% endif %}
    </div>
    <script src="https://muse.ai/static/js/embed-player.min.js"></script>
    <script>
      MusePlayer({
        container: '#video-container-{{ v.video_id }}',
        video: '{{ v.video_id }}',
        width: 800,
        logo: false,
        search: false,
        title: false
      });
    </script>
  {% endif %}
{% endfor %}
</div>
