{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="application/javascript">
    function hideShow(id) {
      console.log(id);
      const x = document.getElementById(id);
      console.log(x);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
{% set total_tds = 0 %}
{# Overall Tabs #}
<div class="row">
  <div class="col s12 offset-s1">
  <ul class="tabs">
    <li class="tab col s5 card-panel"><a href="#charts" class="hoverable">Charts</a></li>
    <li class="tab col s5 card-panel"><a href="#viz" class="hoverable">Data Viz</a></li>
  </ul>
  </div>
</div>
{# Sub Tabs #}
<div id="charts">
    <div class="small-margin" id="td_rec">
      <div class="tw-flex tw-py-10">
        <div class="lg:tw-w-2/3">
          <div id="brady_td_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B'],
              });
            Highcharts.chart('brady_td_chart', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Brady TD Passes by Receiver'
              },
              tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                  }
                }
              },
              series: [{
                name: 'Players',
                colorByPoint: true,
                data: [
                  {% for item in playercount %}
                  {
                  name: '{{ item.player }}',
                  y: {{ item.count }},
                },
                  {% set total_tds = total_tds + item.count %}
                  {% endfor %}
                ]
              }]
            });
          </script>
        </div>
        <div class="lg:tw-w-1/3">
          <ol class="tw-block tw-mx-auto tw-overflow-y-scroll tw-list-decimal" style="height: 25rem !important; padding-top: 0;">
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 class="tw-px-5 tw-py-3 tw-bg-red-pats tw-text-white tw-text-center tw-inline-block">Total TDs ({{ total_tds }})</h4>
            </li>
          {% for player, gifs in players %}
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 onclick="hideShow('brady-td-wr-{{ loop.index }}')" class="tw-cursor-pointer tw-px-5 tw-py-3 tw-bg-blue-pats tw-text-white tw-text-center tw-inline-block hover:tw-opacity-75 hover:tw-shadow hover:tw--mb-3">{{ player }} ({{ gifs|length }})</h4>
                  <ol class="tw-border tw-py-4 tw-pl-10 tw-list-decimal" id="brady-td-wr-{{ loop.index }}"  style="display: none; padding: 2em !important;">
                    {% for gif in gifs %}
                      <li><a href="{{ gif.link }}" class="collection-item blue-text">{{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a></li>
                    {% endfor %}
                  </ol>
            </li>
          {% endfor %}
          </ol>
        </div>
      </div>
    </div>

    <div class="small-margin" id="td_quart">
      <div class="tw-flex tw-py-10">
        <div class="lg:tw-w-2/3">
          <div id="brady_quarters_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
            Highcharts.chart('brady_quarters_chart', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Brady TD Passes by Quarter'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                  }
                }
              },
              series: [{
                name: 'Quarter',
                colorByPoint: true,
                data: [
                  {% for quarter, count in q_count %}
                  {
                    name: '{{ quarter }}',
                    y: {{ count }},
                  },
                  {% endfor %}
                ]
              }]
            });
          </script>
        </div>
        <div class="lg:tw-w-1/3" >
          <ol class="tw-block tw-mx-auto tw-overflow-y-scroll tw-list-decimal" style="height: 25rem !important; padding-top: 0;">
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 class="tw-px-5 tw-py-3 tw-bg-red-pats tw-text-white tw-text-center tw-inline-block">Total TDs ({{ total_tds }})</h4>
            </li>
            {% for quarter, gifs in quarters %}
              <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
                <h4 onclick="hideShow('brady-td-q-{{ loop.index }}')" class="tw-cursor-pointer tw-px-5 tw-py-3 tw-bg-blue-pats tw-text-white tw-text-center tw-inline-block hover:tw-opacity-75 hover:tw-shadow hover:tw--mb-3">{{ quarter }} ({{ gifs|length }})</h4>
                  <ol class="tw-border tw-py-4 tw-pl-10 tw-list-decimal" id="brady-td-q-{{ loop.index }}" style="display: none; padding: 2em !important;">
                    {% for gif in gifs %}
                      <li><a href="{{ gif.link }}" class="collection-item blue-text">{{ gif.title }} ({{ gif.season }} vs {{ gif.opp }})</a></li>
                    {% endfor %}
                  </ol>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>

    <div class="small-margin" id="td_yards">
      <div class="tw-flex tw-py-10">
        <div class="lg:tw-w-2/3">
          <div id="brady_distance_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
              Highcharts.chart('brady_distance_chart', {
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: 'Total Tom Brady TD Passes'
                  },
                  subtitle: {
                      text: 'Sorted by distance'
                  },
                  xAxis: {
                      type: 'category',
                      crosshair: true,
                      title: {
                          text: 'Yards'
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'TD Passes'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span>{point.key} yard TD pass</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                          '<td style="padding:0"><b>{point.y}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  series: [{
                      name: 'TDs Thrown',
                      data: [
                        {% for distance, gifs in tdyards %}
                          [{{ distance }}, {{ gifs|length }}],
                        {% endfor %}
                      ]

                  }]
              });
          </script>
        </div>
        <div class="lg:tw-w-1/3">
          <ol class="tw-block tw-mx-auto tw-overflow-y-scroll tw-list-decimal" style="height: 25rem !important; padding-top: 0;">
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 class="tw-px-5 tw-py-3 tw-bg-red-pats tw-text-white tw-text-center tw-inline-block">Total TDs ({{ total_tds }})</h4>
            </li>
            {% for distance, gifs in tdyards %}
              <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
                <h4 onclick="hideShow('brady-td-dist-{{ loop.index }}')" class="tw-cursor-pointer tw-px-5 tw-py-3 tw-bg-blue-pats tw-text-white tw-text-center tw-inline-block hover:tw-opacity-75 hover:tw-shadow hover:tw--mb-3">{{ distance }} yards ({{ gifs|length }})</h4>
                <ol class="tw-border tw-py-4 tw-pl-10 tw-list-decimal" id="brady-td-dist-{{ loop.index }}" style="display: none; padding: 2em !important;">
                    {% for gif in gifs %}
                      <li><a href="{{ gif.link }}" class="collection-item blue-text">{{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a></li>
                    {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>

    <div class="small-margin" id="td_position">
      <div class="tw-flex tw-py-10">
        <div class="lg:tw-w-2/3">
          <div id="brady_pos_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B'],
              });
              Highcharts.chart('brady_pos_chart', {
                  chart: {
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false,
                      type: 'pie'
                  },
                  title: {
                      text: 'Brady TD Passes by Position'
                  },
                  tooltip: {
                      pointFormat: '<b>{point.percentage:.1f}%</b>'
                  },
                  plotOptions: {
                      pie: {
                          allowPointSelect: true,
                          cursor: 'pointer',
                          dataLabels: {
                              enabled: true,
                              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                          }
                      }
                  },
                  series: [{
                      name: 'Players',
                      colorByPoint: true,
                      data: [
                        {% for position, gifs in tdposition %}
                          {
                              name: '{{ position }}',
                              y: {{ gifs|length }},
                          },
                        {% endfor %}
                      ]
                  }]
              });
          </script>
        </div>
        <div class="lg:tw-w-1/3">
          <ol class="tw-block tw-mx-auto tw-overflow-y-scroll tw-list-decimal" style="height: 25rem !important; padding-top: 0;">
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 class="tw-px-5 tw-py-3 tw-bg-red-pats tw-text-white tw-text-center tw-inline-block">Total TDs ({{ total_tds }})</h4>
            </li>
            {% for pos, gifs in tdposition %}
              <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
                <h4 onclick="hideShow('brady-td-pos-{{ loop.index }}')" class="tw-cursor-pointer tw-px-5 tw-py-3 tw-bg-blue-pats tw-text-white tw-text-center tw-inline-block hover:tw-opacity-75 hover:tw-shadow hover:tw--mb-3">{{ pos }}s ({{ gifs|length }})</h4>
                <ol class="tw-border tw-py-4 tw-pl-10 tw-list-decimal" id="brady-td-pos-{{ loop.index }}"  style="display: none; padding: 2em !important;">
                    {% for gif in gifs %}
                      <li><a href="{{ gif.link }}" class="collection-item blue-text">{{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a></li>
                    {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>

    <div class="small-margin" id="all_tds">
      <div class="tw-flex tw-py-10">
        <div class="lg:tw-w-2/3">
          <div id="brady_season_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
              Highcharts.chart('brady_season_chart', {

                  title: {
                      text: 'Total Tom Brady TD Passes'
                  },
                  subtitle: {
                      text: 'Sorted by season'
                  },
                  xAxis: {
                      type: 'category',
                      crosshair: true,
                      title: {
                          text: 'Season'
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'TD Passes'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span>{point.key} season</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                          '<td style="padding:0"><b>{point.y}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  series: [{
                      name: 'TDs Thrown',
                      data: [
                        {% for season, weeks in alltds %}
                          {% set td = 0 %}
                          {% for game in weeks %}
                            {% for tds in game %}
                              {% set td = td + 1 %}
                            {% endfor %}
                          {% endfor %}
                          [{{ season }}, {{ td }}],
                        {% endfor %}
                      ]

                  }]
              });
          </script>
        </div>
        <div class="lg:tw-w-1/3">
          <ol class="tw-block tw-mx-auto tw-overflow-y-scroll tw-list-decimal" style="height: 25rem !important; padding-top: 0;">
            <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
              <h4 class="tw-px-5 tw-py-3 tw-bg-red-pats tw-text-white tw-text-center tw-inline-block">Total TDs ({{ total_tds }})</h4>
            </li>
            {% for season, weeks in alltds %}
              <li class="tw-flex tw-align-center tw-flex-col tw-my-0.5 tw-bg-white">
                <h4 onclick="hideShow('brady-td-season-{{ loop.index }}')" class="tw-cursor-pointer tw-px-5 tw-py-3 tw-bg-blue-pats tw-text-white tw-text-center tw-inline-block hover:tw-opacity-75 hover:tw-shadow hover:tw--mb-3">{{ season }}</h4>
                <ol class="tw-border tw-py-4 tw-pl-10 tw-list-decimal" id="brady-td-season-{{ loop.index }}"  style="display: none; padding: 2em !important;">
                    {% set i = 0 %}
                    {% for gifs in weeks %}
                      {% for gif in gifs %}
                        {% set i = i + 1 %}
                        <li><a href="{{ gif.link }}" class="collection-item blue-text">{{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a></li>
                      {% endfor %}
                    {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
