{% if ep_art %}
  {% set cover_img = ep_art %}
{% else %}
  {% set cover_img = 'https://assets.pippa.io/shows/5d23d6cdd5ef084d07ef59b9/1580131386118-8bc942a3e5ac0342ac6ba7eb55da12fe.jpeg' %}
{% endif %}

<div class="bg-blue-pats text-white px-8 py-16">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-center mb-6 text-3xl uppercase font-light">Latest Podcast Episode</h2>
    <div class="float-left">
      <div class="w-40 h-40 mr-5 justify-center items-center flex"
           style="background-image: url('{{ cover_img }}');
             background-size: contain;
             background-repeat: no-repeat;
             background-position: center;">
        {{ attach_library('dynasty_tw/podcast') }}
        <audio id="pod-{{ episode.mp3 }}" src="{{ episode.mp3_url }}"></audio>
        <div id="back-pod-{{ episode.mp3 }}" class="text-white p-1 rounded-full bg-white shadow-lg hidden">
          <img src="/themes/custom/dynasty_tw/icons/back15-blue.svg" onclick="skipBackwards('pod-{{ episode.mp3 }}')" class="w-6 h-6" style="cursor: pointer;" />
        </div>
        <div class="text-white p-4 rounded-full bg-red-pats shadow-lg">
          <img src="/themes/custom/dynasty_tw/icons/pod-play.svg" onclick="playPause('pod-{{ episode.mp3 }}')" id="playpod-{{ episode.mp3 }}" class="w-5 h-5" style="cursor: pointer" />
        </div>
        <div id="fwd-pod-{{ episode.mp3 }}" class="text-white p-1 rounded-full bg-white shadow-lg hidden">
          <img src="/themes/custom/dynasty_tw/icons/plus15-blue.svg" onclick="skipForward('pod-{{ episode.mp3 }}')" class="w-6 h-6" style="cursor: pointer;" />
        </div>
      </div>
    </div>

    <div>
        <h2 class="uppercase font-light text-2xl">
          {{ episode.title }} ({{ episode.duration }})
        </h2>
        {% if episode.subtitle is not empty %}
          <h3 class="font-light text-xl">{{ episode.subtitle }}</h3>
        {% endif %}
      <div class="text-l">{{ episode.description|raw }}</div>
    </div>
  </div>
</div>
