<div class="actions flex justify-evenly flex-wrap">
  <div class="button-group filter-button-group">
      <h2 class="text-2xl">Filter</h2>
      <button class="p-4 bg-white text-blue-pats text-center w-full" data-filter=":not(.conference, .division)">Entire NFL</button>
    <div class="flex">
      <div class="w-1/2">
        <button class="p-4 bg-red-pats text-white text-center w-full border-b" data-filter=".afc:not(.division)">AFC</button>
        <div class="hidden md:block">
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.north">North</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.south">South</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.east">East</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.west">West</button>
        </div>
        <div class="block md:hidden">
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.north">&uarr;</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.south">&darr;</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.east">&rarr;</button>
          <button class="p-4 bg-red-pats text-white text-center" data-filter=".afc.west">&larr;</button>
        </div>
      </div>
      <div class="w-1/2">
        <button class="p-4 bg-blue-pats text-white text-center w-full border-b" data-filter=".nfc:not(.division)">NFC</button>
        <div class="hidden md:block">
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.north">North</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.south">South</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.east">East</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.west">West</button>
        </div>
        <div class="block md:hidden">
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.north">&uarr;</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.south">&darr;</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.east">&rarr;</button>
          <button class="p-4 bg-blue-pats text-white text-center" data-filter=".nfc.west">&larr;</button>
        </div>
      </div>
    </div>
  </div>


  <div class="button-group sort-by-button-group">
      <h2 class="text-2xl">Sort</h2>
      <button class="p-4 bg-white text-blue-pats text-center" data-sort-by="name">Name</button>
      <button class="p-4 bg-white text-blue-pats text-center" data-sort-by="wins">Most Wins</button>
      <button class="p-4 bg-white text-blue-pats text-center" data-sort-by="losses">Most Losses</button>
      <button class="p-4 bg-white text-blue-pats text-center" data-sort-by="pct">Highest Win %</button>
  </div>
</div>

<div class="circles" style="min-height: 640px">
  {% for id, team in records %}
    <div class="team-circles {{ team.css}} {{ team.conf}} {{ team.div }}">
      <a href="/team/{{ team.css }}">
        <div class="circle-inner">
          <span class="name">{{ team.name }}</span>
          <br>
          <span class="record">
            <span class="wins">{{ team.w }}</span> - <span class="losses">{{ team.l }}</span>
          </span>
          <br>
          <span class="pct">{{ team.pct|number_format(3) }}</span>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script type="application/javascript">
    // init Isotope
    var iso = new Isotope( '.circles', {
      itemSelector: '.team-circles',
      layoutMode: 'fitRows',
      sortAscending: {
        name: true,
        wins: false,
        losses: false,
        pct: false
      },

      getSortData: {
        name: '.name',
        wins: '.wins parseInt',
        losses: '.losses parseInt',
        pct: '.pct parseFloat',
      }
    });
    // Sort items on button click
    var sortByGroup = document.querySelector('.sort-by-button-group');
    sortByGroup.addEventListener( 'click', function( event ) {
      // only button clicks
      if ( !matchesSelector( event.target, 'button' ) ) {
        return;
      }
      var sortValue = event.target.getAttribute('data-sort-by');
      iso.arrange({ sortBy: sortValue });
    });

    var filterByGroup = document.querySelector('.filter-button-group');
    filterByGroup.addEventListener( 'click', function( event ) {
      // only button clicks
      if ( !matchesSelector( event.target, 'button' ) ) {
        return;
      }
      var filterValue = event.target.getAttribute('data-filter');
      iso.arrange({ filter: filterValue });
    });

</script>
