<div class="flex items-center justify-evenly py-10">
  <div class="w-1/3">
    <h2 class="text-2xl uppercase font-thin text-center">Cumulative Score</h2>
    <div class="flex items-center justify-evenly space-x-1">
      <div class="patriots p-2 w-1/2">
        <div class="text-2xl text-center">Patriots</div>
        <br>
        <div class="text-5xl text-center">{{ totals.pf|number_format(0, ',') }}</div>
      </div>

      <div class="{{ opp.css }} p-2 w-1/2">
        <div class="text-2xl text-center">{{ opp.short }}</div>
        <br>
        <div class="text-5xl text-center">{{ totals.pa|number_format(0, ',') }}</div>
      </div>
    </div>
  </div>

  <div class="w-1/3">
    <h2 class="text-2xl uppercase font-thin text-center">Average Score</h2>
    <div class="flex items-center justify-evenly space-x-1">
      <div class="patriots p-2 w-1/2">
        <div class="text-2xl text-center">Patriots</div>
        <br>
        <div class="text-5xl text-center">{{ (totals.pf/totals.games)|number_format }}</div>
      </div>

      <div class="{{ opp.css }} p-2 w-1/2">
        <div class="text-2xl text-center">{{ opp.short }}</div>
        <br>
        <div class="text-5xl text-center">{{ (totals.pa/totals.games)|number_format }}</div>
      </div>
    </div>
  </div>

</div>

<div class="flex items-center justify-evenly py-10">
  <div class="patriots p-2 w-1/2">
    <div class="text-2xl text-center">Patriots vs {{ opp.short }}</div>
    <br>
    <div class="text-5xl text-center">{{ totals.w }} - {{ totals.l }}</div>
  </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% set pats = [] %}
{% set oppwl = [] %}
{% for game in offset %}
  {% if game > 0 %}
    {% set pats = pats|merge([game]) %}
    {% set oppwl = oppwl|merge([0]) %}
  {% elseif game < 0 %}
    {% set pats = pats|merge([0]) %}
    {% set oppwl = oppwl|merge([game]) %}
  {% else %}
    {% set pats = pats|merge([0]) %}
    {% set oppwl = oppwl|merge([0]) %}
  {% endif %}
{% endfor %}

<div id="team-chart" ></div>
<script type="application/javascript">
  Highcharts.setOptions({
    colors: ['#053c65', '#c41334']
  });
  Highcharts.chart('team-chart', {
    chart: {
      type: 'area'
    },
    title: {
      text: 'Win/Loss Chart Over Time'
    },
    xAxis: {
      title: {
        text: 'Games'
      }
    },
    yAxis: {
      title: {
        text: 'Wins'
      }
    },
    series: [{
      name: 'Patriots Wins',
      data: [{% for p in pats %}
        {{ p }},
        {% endfor %}
      ]
    }, {
      name: '{{ opp.short }} Wins',
      data: [{% for p in oppwl %}
        {{ p }},
        {% endfor %}
      ]
    }]
  });
</script>

<table class="m-auto">
  <thead>
    <tr><th colspan="2"></th><th colspan="2">Score</th><th colspan="5"></th></tr>
    <tr>
      <th colspan="2">Game</th>
      <th>Pats</th>
      <th>Opp</th>
      <th>Location</th>
      <th>Date</th>
      <th>Coach</th>
      <th>O/U</th>
      <th>Vegas</th>
    </tr>
  </thead>
  <tbody>
{% for id, game in games %}
  {% if game.video is not empty %}
    {% if game.video == 1 %}
      {% set video_css = 'blue' %}
      {% set tooltip = 'game has full video' %}
    {% else %}
      {% set video_css = 'grey' %}
      {% set tooltip = 'no game video' %}
    {% endif %}
    {% set icon %}
      <svg class="h-5 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444 313">
        <title>{{ tooltip }}</title>
        <style>
          .blue { fill: #002244 }
          .grey { fill: #cbd5e0 }
        </style>
        <path fill-rule="evenodd" class="{{ video_css }}" d="M251 258L251 278L321 278L321 298L121 298L121 278L191 278L191 258L11 258L11 13L431 13L431 258L251 258ZM411 238L411 33L31 33L31 238L411 238Z" />
        <g>
          <path fill-rule="evenodd" class="{{ video_css }}" d="M175 198L175 72.4L278 135.2L175 198ZM195 108L195 162.4L239.6 135.2L195 108Z" />
        </g>
      </svg>
    {% endset %}
  {% else %}
    {% set icon = '' %}
  {% endif %}
  <tr class="{{ game.result|lower }} py-5 border bg-white">
    <td class="p-5"><a href="/node/{{ id }}">{{ game.title }}</a></td>
    <td>{{ icon }}</td>
    <td class="p-5">{{ game.pats_score }}</td>
    <td class="p-5">{{ game.opp_score }}</td>
    <td class="p-5">{{ game.home_away }}</td>
    <td class="p-5">{{ game.date|date('F j,  Y') }}</td>
    <td class="p-5">{{ game.opp_coach }}</td>
    <td class="p-5 bg-opacity-50 {% if game.over %}text-green-700 bg-green-100{% else %}text-red-600 bg-red-100{% endif %}">{{ game.over_under }}</td>
    <td class="p-5 bg-opacity-50 {% if game.spread %}text-green-700 bg-green-100{% else %}text-red-600 bg-red-100{% endif %}">{{ game.vegas_line }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>
